In [94]:
import numpy as np
import pandas as pd

In [95]:
traindata=pd.read_csv("/train (1).csv")
testdata=pd.read_csv("/test (1).csv")
target=pd.read_csv("/gender_submission.csv")

In [96]:
target=target["Survived"]
t=np.array(target)
t=t.T
t.shape

(418,)

In [99]:
traindata
traindata['Age'].fillna(traindata['Age'].mean(), inplace=True)

In [100]:
ytrain=traindata["Survived"]
xtrain=traindata.drop(["Pclass","Cabin","Embarked","Name","Ticket","PassengerId"],axis=1)
xtest=testdata.drop(["Pclass","Cabin","Embarked","Name","Ticket","PassengerId"],axis=1)
xtest

        Sex   Age  SibSp  Parch      Fare
0      male  34.5      0      0    7.8292
1    female  47.0      1      0    7.0000
2      male  62.0      0      0    9.6875
3      male  27.0      0      0    8.6625
4    female  22.0      1      1   12.2875
..      ...   ...    ...    ...       ...
413    male   NaN      0      0    8.0500
414  female  39.0      0      0  108.9000
415    male  38.5      0      0    7.2500
416    male   NaN      0      0    8.0500
417    male   NaN      1      1   22.3583

[418 rows x 5 columns]

In [101]:
xtrain["Sex"].unique()
Gender={"male":1, "female":0}
xtrain=xtrain.replace(Gender)
xtest=xtest.replace(Gender)
xtrain

     Survived  Sex        Age  SibSp  Parch     Fare
0           0    1  22.000000      1      0   7.2500
1           1    0  38.000000      1      0  71.2833
2           1    0  26.000000      0      0   7.9250
3           1    0  35.000000      1      0  53.1000
4           0    1  35.000000      0      0   8.0500
..        ...  ...        ...    ...    ...      ...
886         0    1  27.000000      0      0  13.0000
887         1    0  19.000000      0      0  30.0000
888         0    0  29.699118      1      2  23.4500
889         1    1  26.000000      0      0  30.0000
890         0    1  32.000000      0      0   7.7500

[891 rows x 6 columns]

In [102]:
def sigmoid(z):
    s = 1/(1 + np.exp(-z)) 
    # s[np.isnan(s)] = np.nanmean(s)
    return s

In [103]:
def loss(h,y):
  return(-(y*np.log(h)+(1-y)*np.log(1-h)))

In [104]:
def forward(w,x,b):
  c=np.dot(w.T,x)+b
  c[np.isnan(c)] = np.nanmean(c)
  return c

In [105]:
def gradient(x,h,y):
  return (np.dot(x,(h-y).T)/x.shape[1])

In [106]:
def const(h,y):
   n=(np.sum(h-y))/x.shape[1]
   return n

In [107]:
def gradeint(x,lr,iter,w,b,y):
  for i in range(iter):
    z=forward(w,x,b)
   
    # z=np.nan_to_num(z, nan=np.nanmean(z))
    a=sigmoid(z)
  
    # a=np.nan_to_num(a, nan=np.nanmean(a))
    los=loss(a,y)
    
    # los=np.nan_to_num(los, nan=np.nanmean(los))
    cost=(np.sum(los))/x.shape[1]
    dz=np.dot(a,y)
    
    dw=gradient(x,a,y)
   
    db=const(a,y)
    
    w=w-lr*dw
    w[np.isnan(w)] = np.nanmean(w)
    b=b-lr*db
    
    if (i%5==0):
      print ("Cost after iteration %i: %f" %(i, cost))

In [108]:
xtrain = (xtrain - np.min(xtrain)) / (np.max(xtrain) - np.min(xtrain)).values
xtest=(xtest - np.min(xtest)) / (np.max(xtest) - np.min(xtest)).values

In [109]:
x=np.array(xtrain)
x=x.T
x.shape

(6, 891)

In [110]:
xt=np.array(xtest)
xt=xt.T
xt.shape

(5, 418)

In [111]:
y=np.array(ytrain)
y=y.T
y.shape
y

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0])

In [112]:
# w=np.zeros((x.shape[1],1))
# print(w.shape)
# w
w = np.full((x.shape[0],1),0.02)
w.shape
w

array([[0.02],
       [0.02],
       [0.02],
       [0.02],
       [0.02],
       [0.02]])

In [113]:
wt = np.full((xt.shape[0],1),0.02)
wt.shape
wt

array([[0.02],
       [0.02],
       [0.02],
       [0.02],
       [0.02]])

In [114]:
b=0.0

In [115]:
fit(x,0.0001,900,w,b,y)

Cost after iteration 0: 0.694587
Cost after iteration 5: 0.694539
Cost after iteration 10: 0.694491
Cost after iteration 15: 0.694443
Cost after iteration 20: 0.694394
Cost after iteration 25: 0.694346
Cost after iteration 30: 0.694298
Cost after iteration 35: 0.694250
Cost after iteration 40: 0.694202
Cost after iteration 45: 0.694153
Cost after iteration 50: 0.694105
Cost after iteration 55: 0.694057
Cost after iteration 60: 0.694009
Cost after iteration 65: 0.693961
Cost after iteration 70: 0.693913
Cost after iteration 75: 0.693865
Cost after iteration 80: 0.693817
Cost after iteration 85: 0.693768
Cost after iteration 90: 0.693720
Cost after iteration 95: 0.693672
Cost after iteration 100: 0.693624
Cost after iteration 105: 0.693576
Cost after iteration 110: 0.693528
Cost after iteration 115: 0.693480
Cost after iteration 120: 0.693432
Cost after iteration 125: 0.693384
Cost after iteration 130: 0.693336
Cost after iteration 135: 0.693288
Cost after iteration 140: 0.693240
Cost after iteration 145: 0.693192
Cost after iteration 150: 0.693144
Cost after iteration 155: 0.693096
Cost after iteration 160: 0.693048
Cost after iteration 165: 0.693000
Cost after iteration 170: 0.692952
Cost after iteration 175: 0.692904
Cost after iteration 180: 0.692856
Cost after iteration 185: 0.692809
Cost after iteration 190: 0.692761
Cost after iteration 195: 0.692713
Cost after iteration 200: 0.692665
Cost after iteration 205: 0.692617
Cost after iteration 210: 0.692569
Cost after iteration 215: 0.692521
Cost after iteration 220: 0.692473
Cost after iteration 225: 0.692426
Cost after iteration 230: 0.692378
Cost after iteration 235: 0.692330
Cost after iteration 240: 0.692282
Cost after iteration 245: 0.692234
Cost after iteration 250: 0.692186
Cost after iteration 255: 0.692139
Cost after iteration 260: 0.692091
Cost after iteration 265: 0.692043
Cost after iteration 270: 0.691995
Cost after iteration 275: 0.691948
Cost after iteration 280: 0.691900
Cost after iteration 285: 0.691852
Cost after iteration 290: 0.691804
Cost after iteration 295: 0.691757
Cost after iteration 300: 0.691709
Cost after iteration 305: 0.691661
Cost after iteration 310: 0.691614
Cost after iteration 315: 0.691566
Cost after iteration 320: 0.691518
Cost after iteration 325: 0.691471
Cost after iteration 330: 0.691423
Cost after iteration 335: 0.691375
Cost after iteration 340: 0.691328
Cost after iteration 345: 0.691280
Cost after iteration 350: 0.691232
Cost after iteration 355: 0.691185
Cost after iteration 360: 0.691137
Cost after iteration 365: 0.691089
Cost after iteration 370: 0.691042
Cost after iteration 375: 0.690994
Cost after iteration 380: 0.690947
Cost after iteration 385: 0.690899
Cost after iteration 390: 0.690852
Cost after iteration 395: 0.690804
Cost after iteration 400: 0.690757
Cost after iteration 405: 0.690709
Cost after iteration 410: 0.690661
Cost after iteration 415: 0.690614
Cost after iteration 420: 0.690566
Cost after iteration 425: 0.690519
Cost after iteration 430: 0.690471
Cost after iteration 435: 0.690424
Cost after iteration 440: 0.690376
Cost after iteration 445: 0.690329
Cost after iteration 450: 0.690282
Cost after iteration 455: 0.690234
Cost after iteration 460: 0.690187
Cost after iteration 465: 0.690139
Cost after iteration 470: 0.690092
Cost after iteration 475: 0.690044
Cost after iteration 480: 0.689997
Cost after iteration 485: 0.689950
Cost after iteration 490: 0.689902
Cost after iteration 495: 0.689855
Cost after iteration 500: 0.689807
Cost after iteration 505: 0.689760
Cost after iteration 510: 0.689713
Cost after iteration 515: 0.689665
Cost after iteration 520: 0.689618
Cost after iteration 525: 0.689571
Cost after iteration 530: 0.689523
Cost after iteration 535: 0.689476
Cost after iteration 540: 0.689429
Cost after iteration 545: 0.689382
Cost after iteration 550: 0.689334
Cost after iteration 555: 0.689287
Cost after iteration 560: 0.689240
Cost after iteration 565: 0.689192
Cost after iteration 570: 0.689145
Cost after iteration 575: 0.689098
Cost after iteration 580: 0.689051
Cost after iteration 585: 0.689003
Cost after iteration 590: 0.688956
Cost after iteration 595: 0.688909
Cost after iteration 600: 0.688862
Cost after iteration 605: 0.688815
Cost after iteration 610: 0.688767
Cost after iteration 615: 0.688720
Cost after iteration 620: 0.688673
Cost after iteration 625: 0.688626
Cost after iteration 630: 0.688579
Cost after iteration 635: 0.688532
Cost after iteration 640: 0.688485
Cost after iteration 645: 0.688437
Cost after iteration 650: 0.688390
Cost after iteration 655: 0.688343
Cost after iteration 660: 0.688296
Cost after iteration 665: 0.688249
Cost after iteration 670: 0.688202
Cost after iteration 675: 0.688155
Cost after iteration 680: 0.688108
Cost after iteration 685: 0.688061
Cost after iteration 690: 0.688014
Cost after iteration 695: 0.687967
Cost after iteration 700: 0.687920
Cost after iteration 705: 0.687873
Cost after iteration 710: 0.687826
Cost after iteration 715: 0.687779
Cost after iteration 720: 0.687732
Cost after iteration 725: 0.687685
Cost after iteration 730: 0.687638
Cost after iteration 735: 0.687591
Cost after iteration 740: 0.687544
Cost after iteration 745: 0.687497
Cost after iteration 750: 0.687450
Cost after iteration 755: 0.687403
Cost after iteration 760: 0.687356
Cost after iteration 765: 0.687309
Cost after iteration 770: 0.687262
Cost after iteration 775: 0.687215
Cost after iteration 780: 0.687168
Cost after iteration 785: 0.687121
Cost after iteration 790: 0.687075
Cost after iteration 795: 0.687028
Cost after iteration 800: 0.686981
Cost after iteration 805: 0.686934
Cost after iteration 810: 0.686887
Cost after iteration 815: 0.686840
Cost after iteration 820: 0.686793
Cost after iteration 825: 0.686747
Cost after iteration 830: 0.686700
Cost after iteration 835: 0.686653
Cost after iteration 840: 0.686606
Cost after iteration 845: 0.686559
Cost after iteration 850: 0.686513
Cost after iteration 855: 0.686466
Cost after iteration 860: 0.686419
Cost after iteration 865: 0.686372
Cost after iteration 870: 0.686326
Cost after iteration 875: 0.686279
Cost after iteration 880: 0.686232
Cost after iteration 885: 0.686185
Cost after iteration 890: 0.686139
Cost after iteration 895: 0.686092

In [116]:
def predict(w,b,x_test):
    # x_test is a input for forward propagation
    z = sigmoid(np.dot(w.T,x_test)+b)
    Y_prediction = np.zeros((1,x_test.shape[1]))
    # if z is bigger than 0.5, our prediction is one means has diabete (y_head=1),
    # if z is smaller than 0.5, our prediction is zero means does not have diabete (y_head=0),
    for i in range(z.shape[1]):
        if z[0,i]< 0.60:
            Y_prediction[0,i] = 0
        else:
            Y_prediction[0,i] = 1

    return Y_prediction

In [117]:
y_prediction=predict(wt,b,xt)
y_prediction.shape

(1, 418)

In [118]:
print("test accuracy: {} %".format(100 - np.mean(np.abs(y_prediction - t)) * 100))

test accuracy: 54.78468899521531 %

In [119]:
A=[1,20,0,0,7.5]
S=[0,19,1,1,512]
ar=np.array(A)
sh=np.array(S)
ar=ar.reshape(5,1)
sh=sh.reshape(5,1)
ar.shape

(5, 1)

In [120]:
wa= np.random.rand(ar.shape[0],1)
ws=np.random.rand(sh.shape[0],1)
wa

array([[0.63994093],
       [0.9448422 ],
       [0.52256257],
       [0.91489553],
       [0.94817498]])

Arpit Survived

In [122]:
ypreds=predict(ws,b,sh)
if(ypreds):
  print("Shreya Survived")
else:
  print("Shreya Not Survived")

Shreya Survived